body {
    background-color: lavender;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 5em;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 0.7em;
}

input {
    display: block;
    /* margin-left: 45%;
    margin-right: 45%;
    width: 10%;
    text-align: center; */
    margin: 0 auto;
    margin-bottom: 2em;
}

.quote {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2em;
    padding-top: 0em;
    padding-bottom: 0.9em;
    padding-right: 2em;
    padding-left: 2em;
}

.attribution {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5em;
    float: right;
    padding-top: 0em;
    padding-bottom: 0.5em;
    padding-right: 10%;
}

#wins {
    padding-top: 5em;
}

#soFar {
    padding-bottom: 2em;
}

/* font-family: 'Raleway', sans-serif;
font-family: 'Berkshire Swash', cursive; */